*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
data
index
index-new
index-pending
index-spare
WEB-INF/classes
WEB-INF/lib/src
WEB-INF/dist
WEB-INF/javadoc
regress/**/IndexDB
regress/**/actual
regress/**/*.log
*.swp
*.orig
.ruby-version
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
EE.DG/
EE.iml
lib/
